<div class="panel" id="intro">
    <h1>Hi, I'm Andrew!</h1>
    <p class="text">
        I'm graduating from The Ohio State University in May 2021 with a B.S. in Computer Science and Mathematics.
        <br /><br />
        I have completed Software Engineering internships at companies such as Google, Microsoft, and Kroger.
        <br/><br/>
        I enjoy contributing to open-source projects and programming in Python, JavaScript, C#, and Java.
        <br /><br />
        Feel free to contact me via <a href="mailto:andrew@jivoin.com">email</a> or <a href="https://linkedin.com/in/jivoin">LinkedIn</a>. My resume is available upon request.
    </p>
</div>
