body {
  font-display: swap;
  color: #232323;
  background-color: #fafafa;
}

.visible {
  opacity: 1;
  max-height: 512ex;
  transition: max-height 0.25s ease-in, opacity 0.25s ease-in;
}

.hidden {
  opacity: 0;
  max-height: 0;
  transition: max-height 0.25s ease-out, opacity 0.25s ease-in;
  overflow: hidden;
}

#content {
  padding: 1em;
  width: auto;
}

h1 {
  font-family: "Bree Serif", serif;
  font-size: 36px;
  font-weight: lighter;
}

.experience-title {
  font-family: "Bree Serif", serif;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(39, 116, 216);
  margin: 0.5ex 0;
  cursor: pointer;
}

.text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.experience .text {
  font-size: 16px;
}

.embed iframe {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* reduced motion */
@media only screen and (prefers-reduced-motion: reduce) {
  .hidden {
    visibility: visible;
    opacity: 1;
    height: auto;
  }

  .visible {
    visibility: visible;
    opacity: 1;
  }
}

@media (scripting: none) {
  .hidden {
    visibility: visible;
    opacity: 1;
    height: auto;
  }

  .visible {
    visibility: visible;
    opacity: 1;
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #fafafa;
    background-color: #232323;
  }

  .experience-title {
    color:  rgb(104, 164, 243);
  }

  a {
    color: rgb(104, 164, 243);
  }
}

/* tablet+ */
@media only screen and (min-width: 768px) {
  #content {
    padding: 5em 15%;
    width: auto;
  }

  .experience .text {
    font-size: 16px;
  }

  .embed iframe {
    width: 560;
    height: 315;
    margin: 0 auto;
    display: block;
  }
}

/* big laptop / monitor+ */
@media only screen and (min-width: 1220px) {
  #content{
    padding: 5em 25%;
  }

  #projects {
    /* width: 50%; */
    float: left;
    width: 45%;
  }
  #work {
    /* flex: 1; */
    /* width: 50%; */
    float: right;
    width: 45%;
  }

  .mobile-only {
    display: none;
  }
}
